.header {
  background-color: #1B2330;
}

.header__inner {
  padding-top: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 176px;
  height: 52px;
}

.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__item {
  display: inline-block;
  margin-right: 57px;
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.header__link {
  display: inline-block;
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}


